/**
 * Skeleton Utilities
 */

.u-full-width, /* [S] */
.full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width, /* [S] */
.max-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right, /* [S] */
.pull-right {
  float: right;
}

.u-pull-left, /* [S] */
.pull-left {
  float: left;
}

/**
 * Self Clearing Goodness
 */
.container, /* [S] */
.row,
.u-cf, /* [S] */
.clearfix {
  @include clearfix();
}

.image-scale {
  max-width: 100%;
  height: auto;
}
